.about-section {
    background-color: #343a40;
    padding: 80px 0;
    
    .text-white {
      font-family: $font-family-sans-serif;
      font-size: 1.25rem;
    }
    
    img {
      max-width: 100%;
    }
  }